/* paragraph css, lato is a imported Google font I am using. If a browser doesn't support it it 
defaults to sans*/
p {
	padding-right:20%;
	padding-left:20%;
    font-family: "lato",sans-serif;
    font-size: 12pt;
    text-decoration: none;
}

/* padding and text decoration*/

h2, h3, h4.links {
    padding-right:20%;
    padding-left:20%;
    text-decoration: none;
}

/* heading and font fam and size*/
h2 {
    font-family: "lato",sans-serif;
    font-size: 36pt;
}

/* heading and font fam and size*/
h3 {
    font-family: "lato",sans-serif;
    font-size: 28pt;
}

/* heading and font fam and size*/
h4 {
    font-family: "lato",sans-serif;
    font-size: 22pt;
}

/* table info*/
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}


/* background color and body default font and font size*/
body {
    background-color: #fdfdfd;
    font-family: "lato",sans-serif;
    font-size: 12pt;
}

/* NYC image centering */
img#NYC {
    width:40%;
    height:10%;
    display: block;
    margin: auto;
}

/* Creative Commons CSS */
img.license {
    display: block;
    margin: auto;
}
/* TV show title card css*/
img#crazy {
    display: block;
    margin: auto;
}
/* c'est moi */
img#me {
	display: block;
    margin: auto;
}
/* padding and text decoration on ul*/
ul {
    padding-right: 20%;
    padding-left: 20%;
    text-decoration: none;
}
/* local link list padding and decoration*/
ul.links {
    padding-right: 20%;
    padding-left: 20%;
    text-decoration: none;

}
/* below is various link states and the css associated with them*/
ul.links li a:hover {
    background-color: pink;
}

ul.links li a:active {
    background-color: red;
}

ul.links li a:focus {
    background-color: #cd5360;
}

ul.topnav li a:visited {
    background-color: #cd5360;
}

ul.topnav li a:link {
    color: midnightblue;
}


/* padding and text decoration on ol*/
ol {
    padding-right:20%;
    padding-left:20%;
    text-decoration: none;
}

/* make image background full browser screen size*/
img.background {
	width: 100%;
	height: 100%;

}

/* Remove margins and padding from the list, and add a background color */
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #cd5360;
}

/* Float the list items side by side */
ul.topnav li {float: left;}

/* Style the links inside the list items */
ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    margin: 10px 13px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.topnav li a:hover {
    background-color: pink;
}

ul.topnav li a:link {
    color: white;
}

ul.topnav li a:focus, a:active {
    color: #438496;
    background-color: #438496;
}

ul.topnav li a:visited {
    background-color: #cd5360;
}

